@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    overflow: hidden;
}

nav,
.nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #edeef0;
    min-height: 8vh;
    padding: 0 50px;
    text-decoration: none;
}

.nav-links-container {
    list-style: none;
    width: 40%;
    padding: 10px;
}

.nav-links-container li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}


#logo {
    color: #f05136;
    font-size: 2.5eml
}

.burger div {
    background-color: black;
    color: black;
    height: 5px;
    width: 25px;
    margin: 5px;
}

.burger {
    display: none;

}

@media screen and (max-width:786px) {
    .burger {
        display: block;
    }

    .nav-links-container {
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        background-color: #edeef0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX();
    }

    .nav-links-container li a {
        opacity: 0%;
    }

    .nav-clicked {
        transform: translateX(0%);
    }

    .burger-clicked #line1 {
        transform: rotate(45deg) translate(6px);
    }

    .burger-clicked #line2 {
        display: none;
    }

    .burger-clicked #line3 {
        transform: rotate(-45deg) translateX(5px);
    }
}